/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body & Utils */

body {
	background-color: #F6F8FA;
	font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 0 300px 30px 300px;
}

/* Utils: check&cross */

.check {
  display: inline-block;
  line-height: 15px;
  /* vertical-align: middle; */ 
  /* senza vertical-align è meglio, ma rispetto la consegna */
  width: 15px;
  border-radius: 50%;
  border: 1px solid green;
  text-align: center;
  font-size: x-small;
  color: green;
  background-color: transparent;
  margin-right: 5px;
}

.cross {
  display: inline-block;
  line-height: 15px;
  /* vertical-align: middle; */ 
  /* senza vertical-align è meglio, ma rispetto la consegna */
  width: 15px;
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  font-size: small;
  color: red;
  background-color: transparent;
  margin-right: 5px;
}

/* Utils: badge+badge colors */

.badge {
  color: white;
  font-size: 0.5rem;
  border-radius: 45px;
  border: 3px solid;
  padding: 2px 7px;
  vertical-align: middle;
}
.bg-blue {
  background-color: #45abea;
  border-color:  #45abea;
}
.bg-lilac {
  background-color: #9c72e4;
  border-color:  #9c72e4;
}
.bg-aqua {
  background-color: #64c0a9;
  border-color:  #64c0a9;
}
.bg-orange {
  background-color: #f29e33;
  border-color:  #f29e33;
}
.bg-pink {
  background-color: #d863a1;
  border-color:  #d863a1;
}
.bg-lemon {
  background-color: #b0c926;
  border-color:  #b0c926;
}


/* Header */

header {
	display: inline-block;
    width: 100%;
    height: auto;
    padding: 0px 20px 0px;
    margin-bottom: 40px;
    background-color: white;
}

img {
    display: inline-block;
    width: 75px;
    line-height: auto;
    margin: 20px 0px 20px 10px;
    vertical-align: middle;
}

.header-text {
	display: inline-block;
	font-weight: bold;
	font-size: 2.5rem;
}

/* Body > Container & (fake)Add Buttons */

.container {
	min-width: 50%;
	height: auto;
	padding: 15px 0px; 
	border-radius: 10px;
	background-color: white;
}

.line {

  height: 3px;
  background-color: #F6F8FA;
  margin: 0 0 30px 0;
}

.buttons-box{
	margin-left: 40px;
}

.button {
    display: inline-block;
    margin-bottom: 10px;
    height: 25px;
    padding: 0 10px 0 10px;
    line-height: 25px;
    border-radius: 5px;
    font-size: 10px;
}

.add-tsk {
	color: white;
	border: 1px solid #44ACF3;
	background-color: #44ACF3;
}

.add-sct {
	color: #CED3D2;
	border: 1px solid #CED3D2;
	background-color: transparent;
}

/* Liste Container */

ul {
	font-weight: bold;
	padding-left: 40px;
	padding-bottom: 30px;
}

li {
	font-weight: normal;
	list-style-type: none;
	padding: 10px 3px;
	/* con padding-left: 10px è meglio, ma rispetto la consegna */
}
